<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>irma_web_relay</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RelayRead</display-name>
    <servlet-name>RelayRead</servlet-name>
    <servlet-class>org.irmacard.cardproxywebrelay.RelayRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RelayRead</servlet-name>
    <url-pattern>/r/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RelayWrite</display-name>
    <servlet-name>RelayWrite</servlet-name>
    <servlet-class>org.irmacard.cardproxywebrelay.RelayWrite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RelayWrite</servlet-name>
    <url-pattern>/w/*</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>ChannelCreator</display-name>
    <servlet-name>ChannelCreator</servlet-name>
    <servlet-class>org.irmacard.cardproxywebrelay.ChannelCreator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChannelCreator</servlet-name>
    <url-pattern>/create/*</url-pattern>
  </servlet-mapping>

  <!-- Enable Cross-Origin Resource Sharing for this web service -->
  <filter>
    <filter-name>CometCorsFilter</filter-name>
    <filter-class>org.irmacard.comet.filters.CometCorsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CometCorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>
